__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.hypothesis/
.coverage
.coverage.*
htmlcov/
.venv/
.python-version
.uv/
.cache/
.idea/
.env
.infctx/
dist/
build/
*.log
.DS_Store
.vscode/settings.json
